@model IEnumerable<Expense_Tracker.Models.Category>
@{
    ViewData["PageTitle"] = "Categories";
    ViewData["PageActionUrl"] = "/Categories/Create";
    ViewData["PageActionText"]= "+New Category";
}


<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@ViewBag.datasource" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-columns>
                <e-grid-column headertext="Category" field="CategorywithIcon" width="250px"></e-grid-column>
                <e-grid-column headertext="Type" template="#Typetemplate"></e-grid-column>
                <e-grid-column headertext="Actions" template="#actionColumnTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
       

    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#333">
            <i class="fas fa-shapes fa-2x text-light"></i>
        </div>
    </div>
</div>

<script id="Typetemplate" type="text/x-template">

    ${if(Type=="Income")}
    <span class="badge bg-success">${Type}</span>
    ${else}
    <span class="badge bg-danger">${Type}</span>
    ${/if}
</script>
<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Categories/Create/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg text-warning"></i>
        </a>
        <form action="/Categories/Delete/${CategoryId}" method="post">
                @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>

<partial name="~/Views/Shared/_SideBar.cshtml" />