@model IEnumerable<Expense_Tracker.Models.Transaction>
@{
    ViewData["PageTitle"] = "Transaction";
    ViewData["PageActionUrl"] = "/Transaction/Upsert";
    ViewData["PageActionText"] = "+New Transaction";
}
<link href="~/css/style.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-7">
        <ejs-grid id="Transaction" dataSource="@Model" gridLines="None" allowSorting="true" allowPaging="true">
            <e-grid-columns>
                <e-grid-column headertext="Category" field="CategoryTitleWithIcon" width="250px"></e-grid-column>
                <e-grid-column headertext="Date" field="CreatedAt" width="110px" format="MMM-dd-yy"></e-grid-column>
                <e-grid-column headertext="Amount" field="FormattedAmount" width="110px"></e-grid-column>
                <e-grid-column headertext="Actions" template="#actionColumnTemplate"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>


    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#333">
            <i class="fa-solid fa-money-bill-transfer fa-2xl"></i>
        </div>
    </div>
</div>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Transaction/Upsert/${TransactionId}">
            <i class="fa-solid fa-pen fa-lg text-warning"></i>
        </a>
        <form action="/Transaction/Delete/${TransactionId}" method="post">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </button>
        </form>
    </div>
</script>
<partial name="~/Views/Shared/_SideBar.cshtml" />